[submodule "Message-Gateway"]
	path = Message-Gateway
	url = git@github.com:Quarkfan/Message-Gateway.git
[submodule "QuarkfanTools-Single"]
	path = QuarkfanTools-Single
	url = git@github.com:Quarkfan/QuarkfanTools-Single.git
[submodule "Context-Hub"]
	path = Context-Hub
	url = git@github.com:Quarkfan/Context-Hub.git
[submodule "Model-Hub"]
	path = Model-Hub
	url = git@github.com:Quarkfan/Model-Hub.git
[submodule "Capability-Registry"]
	path = Capability-Registry
	url = git@github.com:Quarkfan/Capability-Registry.git
