[submodule "Message-Gateway"]
	path = Message-Gateway
	url = git@github.com:Quarkfan/Message-Gateway.git
[submodule "QuarkfanTools-Single"]
	path = QuarkfanTools-Single
	url = git@github.com:Quarkfan/QuarkfanTools-Single.git
[submodule "Context-Hub"]
	path = Context-Hub
	url = git@github.com:Quarkfan/Context-Hub.git
[submodule "Model-Hub"]
	path = Model-Hub
	url = git@github.com:Quarkfan/Model-Hub.git
[submodule "Capability-Registry"]
	path = Capability-Registry
	url = git@github.com:Quarkfan/Capability-Registry.git
[submodule "Platform-Contracts"]
	path = Platform-Contracts
	url = git@github.com:Quarkfan/Platform-Contracts.git
[submodule "Runtime-Center"]
	path = Runtime-Center
	url = git@github.com:Quarkfan/Runtime-Center.git
[submodule "Scheduler-Center"]
	path = Scheduler-Center
	url = git@github.com:Quarkfan/Scheduler-Center.git
[submodule "Resource-Center"]
	path = Resource-Center
	url = git@github.com:Quarkfan/Resource-Center.git
[submodule "Governance-Center"]
	path = Governance-Center
	url = git@github.com:Quarkfan/Governance-Center.git
[submodule "Platform-Console"]
	path = Platform-Console
	url = git@github.com:Quarkfan/Platform-Console.git
[submodule "Platform-Deployment"]
	path = Platform-Deployment
	url = git@github.com:Quarkfan/Platform-Deployment.git
